In [20]:
from pyspark import SparkContext

In [33]:
sc = SparkContext("local","PySparkIntro")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=PySparkIntro, master=local) created by __init__ at /var/folders/97/yglx9cxd3n5cg_wl77xmw4gr0000gn/T/ipykernel_1603/2038762427.py:1

In [22]:
from pyspark.sql import SparkSession

In [23]:
park = SparkSession.builder.appName("PySparkIntro").getOrCreate()

In [24]:
data = [1,2,3,4,5]

rdd = sc.parallelize(data)

In [25]:
squared_rdd = rdd.map(lambda x:x**2)

In [26]:
even_rdd = rdd.filter(lambda x:x % 2 == 0)

In [27]:
collected_data = squared_rdd.collect()

In [28]:
num_elements = squared_rdd.count()

In [29]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [30]:
schema = StructType([
    StructField("Name",StringType(),True),
    StructField("Age",IntegerType(),True),
    StructField("Salary",IntegerType(),True)
])

In [31]:
data = [("Alice",28,45000),("Bob",36,60000),("Cathy",23,35000)]
        
# Name, Age, and Salary

In [36]:
ds = spark.createDataFrame(data,schema)

NameError: name 'spark' is not defined

In [34]:
ds = ds.alias("employees")

NameError: name 'ds' is not defined

In [35]:
ds.show()

NameError: name 'ds' is not defined

In [37]:
 data_file = "path/to/data.csv"
 df = spark.read.csv(data_file, headers = True, inferSchema = True)

NameError: name 'spark' is not defined

In [ ]:
df = spark.createDataFrame(data, ("Name","Age","Salary"))

df.show()

In [ ]:
# Semi-structured data

json_data_file = "path/to/data.json"
df_json = spark.read.json(json_data_file)

In [ ]:
xml_data_file = "path/to/data.xml"

df_xml = spark.read.format("xml").option("rowTag","employee").load(xml_data_file)

In [38]:
data_with_missing = [
    ("Alice",28,45000),
    ("Bob",None,60000),
    ("Kathy",22,None)
]

In [39]:
df_missing = spark.createDataFrame(data_with_missing, ["Name","Age","Salary"])

NameError: name 'spark' is not defined

In [40]:
mean_age = df_missing.select("Age").agg({"Age":"avg"}).collect()[0][0]

NameError: name 'df_missing' is not defined

In [41]:
df_cleaned = df_missing.na.fill(mean_age, subset = ["Age"])

NameError: name 'df_missing' is not defined

In [ ]:
df_cleaned.show()

In [1]:
print("hello")

hello